extends layout

block content
    form(action='/index/')
    | User name:
    br
    input(type='text', name='username')
    br
    |   password:
    br
    input(type='password', name='password')
    br
    br
    input(type='submit', value='Submit')
